#{extends 'admin.html'/}
#{set header:'customers'/}

<a href="@{Admin.createCustomer()}">Add Customer</a>
<div class="span8">
#{form @Admin.customers()}	
<input type="text" 
		name="q" placeholder="Search by name or email"
		value="${params.q}"/>
#{/form}
<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th></th>
		</tr>
	</thead>	
	<tbody>
		#{list items:customers, as:'customer'}
		<tr>
			<td>${customer.firstName}</td>
			<td>${customer.lastName}</td>
			<td>${customer.email}</td>
			<td>${customer.phone}</td>
			<td>
				<a href="@{Admin.deleteCustomer(customer.id)}">Delete</a>
				<a href="@{Admin.showCustomer(customer.id)}">Show</a>
			</td>
		</tr>
		#{/list}
	</tbody>
</table>
</div>