#{extends 'admin.html'/}
#{set app:'order-management'/}
#{set header:'orders'/}

<div ng-controller="OrderManagerController" ng-init="init(${order.id})">
    <div class="page-header">
        <div class="row">
            <div class="col-md-3">
                <h1>Order: <small>${order.orderNumber}</small></h1>
            </div>
            <div class="col-md-2" style="margin-top:40px;">
                <label>Customer:</label> ${order?.customer?.name}
            </div>
            <div class="col-md-4">
                    <h4>Email: ${order?.customer?.email}</h4>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                <a href="@{Admin.deleteOrder(order.id)}" class="btn btn-danger">Delete</a>
                <a href="@{Admin.orders()}" class="btn btn-default">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="dropzone" dropzone url="/admin/order/${order.id}/index" id="dz" method="POST">
                <!-- div class="text-center">
                    <h1>Drop files <small>to upload</small></h1>
                    (or click)
                </div -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table ng-table="tableParams" class="table">
                <tr ng-repeat="item in items">
                    <td data-title="Column1 " sortable="foo">{{item.filename}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

#{set 'moreStyles'}
    <link href="@{'public/stylesheets/ng-table.css'}" rel="stylesheet">
    <link href="@{'public/stylesheets/dropzone.css'}" rel="stylesheet">
#{/set}
#{set 'moreScripts'}
    <script src="@{'public/javascripts/ng-table.js'}"></script>
    <script src="@{'public/javascripts/dropzone.js'}"></script>
    <script>
        Dropzone.autoDiscover = false;
    </script>
#{/set}
