#{extends 'site.html'/}

<table class="table">
	<thead>
		<tr>
			<th>Order Number</th>
			<th>Type</th>
			<th>Plan</th>
		</tr>	
	</thead>	
	<tbody>
	#{list items:orders, as:'order'}
	<tr>
		<td>${order.orderNumber}</td>
		<td>${order.type}</td>
		<td>${order.plan}</td>
	</tr>
	#{/list}
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th>Payment Token</th>
			<th>Created</th>
			<th>Order Number</th>
		</tr>	
	</thead>	
	<tbody>
	#{list items:cards, as:'payment'}
	<tr>
		<td>${payment.token}</td>
		<td>${payment.created}</td>
		<td>${payment.order.orderNumber}</td>
	</tr>
	#{/list}
	</tbody>
</table>
