#{extends 'site.html'/}

<div class="row-fluid">
	<div class="span5">
	#{form @Orders.saveBillingInfo() }
		<legend>Billing Information</legend>
	    #{inputText name:"billing.address", value:billing?.address, label:"Address"/}
	    #{inputText name:"billing.address2", value:billing?.address2/}
	    #{inputText name:"billing.city", value:billing?.city, label:"City"/}
	    #{inputText name:"billing.state", value:billing?.state,label:"State"/}
	    #{inputText name:"billing.zip", value:billing?.zip,label:"Zip Code"/}
	    #{checkbox name:"billing.shipSame",checkedValue:true, value:billing?.shipSame,label:"Use this address for shipping to."/}
	    <input type="submit" value="Save"/>
	#{/form}
	</div>
</div>