<html>
<head>
	<title></title>
	<style>
		.label{
			border:3px solid #333;
			width:400px;
			margin:50px auto;
			padding:20px;
			border-radius: 10px;
		}
		.street-address{
			display:block;
		}

	</style>
</head>
<body>

	<div class="label">
		<h1>Drive Cleaners</h1>
		<h3>Send To:</h3>
		<blockquote>
			<address class="vcard">
			  <span class="adr">
			    <span class="street-address">169 University Avenue</span>
			    <span class="locality">Palo Alto</span>,  
			    <abbr class="region" title="California">CA</abbr>&nbsp;&nbsp;
			    <span class="postal-code">94301</span>
			    <span class="country-name">USA</span>
			  </span>
			</address>
		</blockquote>	
		<h3>From To:</h3>
		<blockquote>
			<address class="vcard">
			  <span class="adr">
			    <span class="street-address">169 University Avenue</span>
			    <span class="locality">Palo Alto</span>,  
			    <abbr class="region" title="California">CA</abbr>&nbsp;&nbsp;
			    <span class="postal-code">94301</span>
			    <span class="country-name">USA</span>
			  </span>
			</address>
		</blockquote>	


	</div>	



</body>
</html>
