#{extends 'site.html'/}
#{set app:'order-form'/} 
#{set pageTitle:'Order Details'/}

<div ng-controller="OrderController">
<div class="row">
    <div class="span5" >
        #{form @Orders.saveOrderInfo(),id:"order-form" }
            <fieldset>
            <legend>Tell us about your machine</legend>
            #{select name:"order.type",label:'Type of Machine', value:flash.order?.type, 
                values:['LAPTOP','DESKTOP'],
                labels:['Laptop','Desktop'] /}
                
            
            #{select name:"order.disposalMethod",label:'Disposal Method', 
                value:flash.order?.disposalMethod, 
                values:['MAGNETIC','PHYSICAL','RETURN'],
                labels:['Magnetically erased',
                        'Physically destroyed',
                        'Return my machine'] /}

            #{select name:"order.plan",label:'Cleaning Plan', value:flash.order?.plan, 
                values:['SILVER','GOLD','PLATINUM'],
                labels:['20 Gigabytes','100 Gigabytes'] /}
            </fieldset>
        #{/form}
    </div>
</div>

<div class="row">
    <form class="span5 custom-form">
        <fieldset>
            <legend>Payment Information</legend>
            <div class="number">
                <label>Card number:</label>
                <input type="text" id="paymentNumber" placeholder="•••• •••• •••• ••••" data-placeholder="Card number" autocompletetype="cc-number" required="" data-numeric="" class="unknown" cc-number ng-model="ccnumber">                
            </div>
            <div class="expiry">
                <label>Expires:</label>
                <input type="text" id="paymentExpiry" placeholder="MM / YY" autocompletetype="cc-exp" maxlength="9" pattern="\d*" data-numeric="" required="">                
            </div>
            <div class="name">
                <label>Name on card:</label>
                <input type="text" id="paymentName" data-placeholder="Name on card" autocompletetype="name" autocapitalize="words" autocorrect="off" spellcheck="off" required="">     
            </div>            
            <div class="cvc">
                <label>Card code:</label>
                <input type="text" id="paymentCVC" placeholder="CVC" autocompletetype="cc-csc" maxlength="4" pattern="\d*" autocomplete="off" data-numeric="" required="">     
            </div>
        </fieldset>            
    </form>
</div>
</div>

    



