#{extends 'site.html'/}
      <div class="dc-art">  
        <div class="row">
          <div class="col-md-offset-7 col-md-5">
            <p class="price">$39<span>.99</span></p>
            <div class="login-box form-group">
            #{form @Orders.saveCustomerInfo()}	
              <fieldset>
                #{ifErrors}
                  <div class="alert alert-danger">
                    Please fix and retry. All fields are required.
                  </div>
                #{/ifErrors}
                #{else}
                  <legend>Get your data back now!</legend>      
                #{/else}                
                <div class="form-group">
                  #{inputText2 placeholder:"First name",
                      name:"customer.firstName", class:"firstName form-control",
                      value:customer?.firstName /}
                  <input placeholder="Last name" type="text" 
                      name="customer.lastName" class="lastName form-control"
                      value="${customer?.lastName}"/>
                </div>
                <div class="form-group">
                  <input placeholder="Email" type="text" name="customer.email"
                  value="${customer?.email}" class="form-control"/>
                </div>
                <div class="form-group">
                  <input placeholder="Password" type="password" name="customer.password"
                  	value="${customer?.password}" class="form-control"/>
                </div>
                <input type="hidden" name="customer.id" value="${customer?.id}"/>
                <input type="submit" class="btn btn-large btn-primary"
                                value="Continue">
              </fieldset>
              #{/form}
            </div>
          </div>  
        </div>
        
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>
