
<!DOCTYPE html>
<html lang="en" #{if app}ng-app="#{get 'app'/}"#{/if}>
  <head>
    <meta charset="utf-8">
    <title>#{get 'pageTitle'/}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>


    <link href="@{'public/assets/css/bootstrap.css'}" rel="stylesheet">

    <link href="@{'public/stylesheets/main.css'}" rel="stylesheet">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <script src="@{'public/javascripts/jquery.min.js'}"></script>
    <script src="@{'public/javascripts/jquery.maskedinput.js'}"></script>

    <style>
        @media print
        {
            .login-link{display:none}
        }
    </style>

    #{get 'moreStyles'/}

  </head>

  <body>

    <div class="container">
      <a href="#" class="login-link pull-right"
      data-placement="bottom">Login</a>
      <h1 class="logo"><a href="@{Site.index()}">Drive Cleaners</a></h1>  
      <p>The safe way to retrieve your data and clear your drive</p>
      #{if flash.error}
      <div class="row">
        <div class="col-md-8">
          <div class="alert alert-danger">
            &{flash.error}
          </div>
        </div>
      </div>
      #{/if}
      #{if flash.success}
      <div class="row">
        <div class="col-md-8">
          <div class="alert alert-success">
            &{flash.success}
          </div>
        </div>
      </div>
      #{/if}      
      #{doLayout /}
    </div> <!-- /container -->

      <div id="popover" style="display:none">
        #{form @Secure.authenticate()}
        <div class="form-group">
        <label>Email</label>
        <input type='text' name='username' class="form-control"/>
        </div>
        <div class="form-group">
        <label>Password</label>
        <input type='password' name='password' class="form-control"/>
        </div>
        <input type='submit' class="form-control"/>
        #{/form}
      </div>    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="@{'/public/javascripts/angular.js'}"></script>
    <script src="@{'public/assets/js/bootstrap.min.js'}"></script>
    #{get 'moreScripts' /}
    <script src="@{'public/javascripts/app.js'}"></script>
      <script>
        $(function(){
          $('.login-link').popover( { 
            html : true,
            content: function() {              
              return $('#popover').html();              
            }
          })
        })        
      </script>    
  </body>
</html>
